{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #343a40;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h6 class="card-header">About Us</h6>
    <div class="card-body">
        <p class="card-text"> We represent a plethora of artists who create in a vast range of artistic styles ranging from abstract to traditional seascapes. Shalli is in continuous pursuit of highly talented contemporary artists, representing more artists each year, and being open-minded to all forms of art, all while staying true to our mission at Weirdmonkeyguy Galleries...!</p>
        <a href="https://www.instagram.com/antimonitor101/"
           class="btn-sm btn-warning">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}